.about-aboutpage {
    margin-top: 20px;
    padding: 15px;
    
    color: #eee;
    border-radius: 8px;
  }

 .h3 {
    text-align: center;
 }

 .about-aboutpage p {
    text-align: center;
    font-style: italic;
    font-size: 20px;
 }