body {
    font-family: Arial, sans-serif;
  background-image: url('/src/assets/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.app-container {
    background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(8px); 
  padding: 30px 40px;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}